/* HEADER */

.navBar{
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navBar > .link i{
    font-size: 2rem;
}

#buttonNav{
    padding: 0.5rem;
    border-radius: 10px;
    border-style: none;
}


/* MAIN */


.container{
    margin: 0 auto;
    padding: 2rem 2rem;
}
/* informazioni utili */
.card, .bigCard {border-radius: 20px;}

.bigCard{
    margin-top: 3rem;
}

.card{
    margin-top: 1.5rem;
}

/* strategie */

.planning, .app{
    border-radius: 20px;
}

/* testimonial */


.partners{
    border-radius: 20px;
}

/* benefici */


.benefits{
    border-radius: 20px;
}


/* chi siamo */

.text p{
    line-height: 2rem;
}

/* inizia */

.started{
    justify-content: center; 
    align-items: center;
}

.buttonStarted{
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 30px;
    border-style: none;
}

/* FOOTER */

.footer {
    justify-content: center;
    align-items: center;
}

/* _______________

    MEDIA QUERY 
________________ */

@media screen and (min-width:480px) and (max-width:768px){
 .container:not(.testimonial .container, .started.container, .footer.container){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 
 .bigCard{
    margin-bottom: 1rem;
    width: 65%;
    margin-top: 0;
 }

 .card{
    height:calc(100vw / 1.5);
    margin-top: 0;
    width: 30%; 
 }

 #big{
    height: calc(100vw / 1.5);
    margin-bottom: 1rem;
 }

 .benefits{
    width: calc(100% / 2 - 1rem);
 }

.text{
    width: 60%;
}

.partner{
 width: 40%;
 margin-top: 2rem;
}


}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .link.none {
        display: inline-block;
    }

    .link.none a {
        margin: 0.5rem;
    }

}




















/******************  
        DEBUG
*******************/

.navBar{
    height: 3rem;
}

/* .bigCard{
    height: 610px;
    border: 1px solid black;
}

.card{
    height: 360px;
    border: 1px solid black;

} */

.planning{
    height: 630px;
    background-color: aqua;
}

.app{
    height: 616px;
    background-color: blue;
}

.partners{
    height: 500px;
    border: 1px solid black;
}

.benefits{
    height: 400px;
    background-color: brown;
    border: 1px solid black;
}

.partner{
    height: 460px;
    background-color: red;
    border: 1px solid black;
}