/* HEADER */

.navBar{
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navBar > .link i{
    font-size: 2rem;
}

#buttonNav{
    padding: 0.5rem;
    border-radius: 10px;
    border-style: none;
}


/* MAIN */


.container{
    margin: 0 auto;
    padding: 2rem 2rem;
}
/* informazioni utili */
.card, .bigCard {border-radius: 20px;}

.bigCard{
    padding: 2rem 2rem 0 2rem;
    margin-top: 3rem;
    line-height: 1.5rem;
}

.bigCard button{
    padding: 1rem;
    border-style: none;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
}


.card{
    margin-top: 1.5rem;
    padding: 2rem 2rem 0 2rem;
    line-height: 1.5rem;
}

.card i{
    font-size: 5rem;
}



/* strategie */

.planning, .app{
    border-radius: 20px;
    padding: 1rem;
}


.icon{
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 100%;
}


/* testimonial */


.partners{
    border-radius: 20px;
    padding: 2rem;
}

.partners img{
    border-radius: 100%;
    height: 50%;
}

/* benefici */


.benefits{
    border-radius: 20px;
}


/* chi siamo */

.text p{
    line-height: 2rem;
}

/* inizia */

.started{
    justify-content: center; 
    align-items: center;
}

.buttonStarted{
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 30px;
    border-style: none;
}

/* FOOTER */

.footer {
    justify-content: center;
    align-items: center;
}

/* _______________

    MEDIA QUERY 
________________ */


/* TABLET */

@media screen and (min-width:481px) and (max-width:768px){
 .container:not(.testimonial .container, .started.container, .footer.container){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }

 .container{
    gap: 0.5em;
 }
 
 .bigCard{
    margin-bottom: 1rem;
    width: 65%;
    margin-top: 0;
 }

 .card{
    height:calc(100vw / 1.5 - 0.5em);
    margin-top: 0;
    width: 30%; 
 }

 #big{
    height: calc(100vw / 1.5 - 0.5em);
    margin-bottom: 1rem;
 }

 .benefits{
    width: calc(100% / 2 - 2rem);
    margin: 1rem;
 }

.text{
    width: 60%;
}

.partner{
 width: 30%;
 margin-top: 2rem;
}

}

/* DESKTOP */

@media screen and (min-width: 768px) {

    /* navbar */
    .hamburger {
        display: none;
    }

    .link.none {
        display: inline-block;
    }

    .link.none a {
        margin: 0.5rem;
    }

    .container:not(.testimonial .container, .started.container, .footer.container) {
        flex-direction: row;    
        flex-wrap: wrap;
        justify-content: center;
    }

    .container{
        padding: 4rem 24.5rem;
        gap: 0.5em;
    }

    /* main */

    .bigCard{
        padding: 1rem;
        width:66%;
        margin-bottom: 1rem;
    }

    #big{
        margin-top: 3rem;
    }
    .card{
        width: calc(100% / 3 - 0.5em);
        margin-top: 0;
        padding: 1rem;
    }

    .planning{
        width: 45%;
    }

    .app{
        width: 45%;
    }

    .benefits{
        width: calc(100% / 3 - 2rem);
        margin: 1rem;
    }

    .about .container{
        flex-direction: row;
        align-items: flex-end;
    }

    .partner{
        width: 30%;
    }
    
    .text{
        width: 60%;
    }

    .started h3{
        font-size: 2rem;
    }

    .started h2{
        font-size: 4rem;
    }

    .started p{
        padding: 0 14rem;
    }

    .started button{
        width: 20%;
    }

    /* footer */

    footer small{
        padding: 0 14rem;
    }
}




















/******************  
        DEBUG
*******************/


.partners{
    height: 500px;
    border: 1px solid black;
}

.benefits{
    height: 400px;
    background-color: brown;
    border: 1px solid black;
}

.partner{
    height: 460px;
    background-color: red;
    border: 1px solid black;
}