/* HEADER */

.navBar{
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.navBar > .link i{
    font-size: 2rem;
}

#buttonNav{
    padding: 0.5rem;
    border-radius: 10px;
    border-style: none;
}


/* MAIN */


.container{
    margin: 0 auto;
    padding: 2rem 2rem;
}
/* informazioni utili */
.card, .bigCard {border-radius: 20px;}

.bigCard{
    padding: 2rem 2rem 0 2rem;
    margin-top: 3rem;
    line-height: 1.5rem;
    align-items: center;
    justify-content: center;
}

.bigCard button{
    padding: 1rem;
    border-style: none;
    border-radius: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.card{
    margin-top: 1.5rem;
    padding: 2rem 2rem 0 2rem;
    line-height: 1.5rem;
    align-items: center;
    justify-content: center;
}

.card i{
    font-size: 5rem;
}

/* strategie */

.planning, .app{
    border-radius: 20px;
    padding: 1rem;
}

.iconStrategy{
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 50%;
}


/* testimonial */


.partners{
    border-radius: 20px;
    padding: 2rem;
}

.image{
    max-width: 200px;
    max-height: 200px;
}

.image img{
    border-radius: 50%;
}

/* benefici */


.benefits{
    border-radius: 20px;
    padding: 1rem;
}

.benefits button{
    border-style: none;
    padding: 1rem;
    border-radius: 20px;
}


/* chi siamo */

.text p{
    line-height: 2rem;
}

.partner{
    position: relative;
}

.partner button{
    border-style: none;
    padding: 0.5rem;
    border-radius: 20px;
}

.partner img{
    border-radius: 50%;
}

.icon{
    position: absolute;
    top: 0;
    left: 50%;
}

/* inizia */

.started{
    justify-content: center; 
    align-items: center;
}

.buttonStarted{
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 30px;
    border-style: none;
}

/* FOOTER */

.footer {
    justify-content: center;
    align-items: center;
}



/* _______________

    MEDIA QUERY 
________________ */


/*________________

      TABLET 
__________________*/

@media screen and (min-width:481px) and (max-width:768px){
    .container:not(.testimonial .container, .started.container, .footer.container){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container{
        width: 100%;
        gap: 0.5em;
    }

    /* informazioni utili */
    
    .bigCard{
        margin-bottom: 1rem;
        width: 65%;
        margin-top: 0;
    }

    .card{
        margin-top: 0;
        width: 32%; 
    }

    #big{margin-bottom: 1rem;}

    /* strategie */

    .iconStrategy{width: 6%;}

    /* testimonial */

    .partners{display: flex;}


    .description{
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
    }

    .description h4{text-align: left;}


    
    /* benefits */
    .benefits{
        width: calc(100% / 2 - 2rem);
        margin: 1rem;
    }

    .text{width: 60%;}

    .partner{
    width: 30%;
    margin-top: 2rem;
    }

}


/*________________

      DESKTOP 
__________________*/

@media screen and (min-width: 769px) {

    /* navbar */
    .hamburger {display: none;}

    .link.none {display: inline-block;}

    .link.none a {margin: 0.5rem;}

    .container:not(.testimonial .container, .started.container, .footer.container) {
        flex-direction: row;    
        flex-wrap: wrap;
        justify-content: center;
    }

    .container{
        padding: 4rem 24.5rem;
        gap: 1em;
    }

    /* main */

    /* informazioni utili */
    .bigCard{
        flex-direction: row;
        flex-wrap:nowrap ;
        padding: 1rem 1rem 0 1rem;
        width:65%;
        margin-top: 0;
    }

    .bigCard img{
        width: 100%;
        margin-bottom: 0;
        vertical-align: bottom;
    }
  
    .card{
        width: calc(100% / 3 - 1em);
        margin-top: 0;
        padding: 1rem;
    }

    /* strategie */
    
    .planning{
        width: 45%;
    }

    .app{
        width: 45%;
    }

    .iconStrategy{
        width: 7%;
    }

    /* testimonial */

    .partners {
        display: flex;
    }

    .description {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
    }
    
    .description h4 {
        text-align: left;
    }


    /* benefici */

    .benefits{
        width: calc(100% / 3 - 2rem);
        margin: 1rem;
    }

    /* chi siamo */

    .about .container{
        flex-direction: row;
        align-items: flex-end;
    }

    .partner{
        width: 30%;
    }
    
    .text{
        width: 60%;
    }

    /* inizia */

    .started h3{
        font-size: 2rem;
    }

    .started h2{
        font-size: 4rem;
    }

    .started p{
        padding: 0 14rem;
    }

    .started button{
        width: 20%;
    }

    /* footer */

    footer small{
        padding: 0 14rem;
    }
}

